.pageMessage {
	padding: 20px 0 0;
}
.pt0 {
	padding-top: 0px
}
.pageMessage ul li {
	float: left;
	margin-left: 10px;
}
.pageMessage ul li .brand {
	border: 1px solid #ccc;
}
.pageMessage ul li select {
	height: 26px;
	line-height: 26px;
	border: 1px solid #ccc;
}
.customBtn {
	font-size: 14px;
	line-height: 32px;
	height: 32px;
	padding: 0 20px;
	color: #fff;
	border: none 0;
	border-radius: 4px;
	background: #3961b2;
	border: none;
	outline: none;
	cursor: pointer;
}
.searchBtn {
	display: block;
	margin-bottom: 8px;
}
.searchBtn li {
	float: left;
	margin-right: 12px;
	margin-bottom: 12px;
}
.searchBtn li .sbWidth {
	width: 80px;
}
.searchBtn li input {
	font-size: 14px;
	line-height: 32px;
	height: 32px;
	padding: 0 12px;
	color: #fff;
	border: none 0;
	border-radius: 4px;
	background: #3961b2;
}
.messageRight {
	height: 32px;
	line-height: 32px;
	font-size: 14px;
	clear: both;
	margin-top: -32px;
}
.messageRight em {
	color: #f33;
}
.messageRight span {
	color: #333;
}
.messageRight .default_data {
	padding: 0 3px;
	color: #428bca;
}
